* {
    font-family: "Nasalization", sans-serif;
}
.logo-top {
    text-align: center;
    font-size: 5rem;
    font-family: "Nasalization", sans-serif;
    font-weight: 900;
}
.logo-top a {
    color: black;
    text-decoration:none;
}
.logo-top a:hover {
    cursor:pointer;
}
.caption-logo{
    font-family: "Nasalization", sans-serif;
    color: rgb(43,158, 237);
    font-size: 1.2rem;
    height: 30px;
    padding-top: 0.3rem;
}

.top-header {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-bottom: 1px solid black;
    margin-left: 6rem;
    margin-right: 6rem;
}
.right-header {
    margin-left: 0;
    margin: auto;
    text-align: right;
    width: 33.3333%;
}
.top-header {
    flex-direction: row;
    display: flex;
}
.middle-header {
    width: 33.3333%;
    text-align: center;
}
.left-header {
    width: 33.3333%;
    vertical-align: middle;
    text-align: center;
    justify-content: left;
    display:flex;
    align-items: center;
}

.search-icon {
    width: 40%;
    height: 40%;
}
.right-header {
    vertical-align: middle;
    text-align: center;
    justify-content: right;
    display:flex;
    align-items: center;
}



.toggle.active {
    position: fixed !important;
}



.container ul.toggle {
    z-index: 998;
    width: 50px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    color: black;
    margin: 0;
    padding: 0.75rem;
}


.container ul.toggle li {
    position: absolute;
    transform: translateY(-50%);
    height: 2.5px;
    width: 1.7rem;
    list-style: none;
    background: #fff;
    transition: .9s;
}

.toggle.active {
    opacity: 1;
}

.container ul.toggle li:nth-of-type(1) {
    top: 0;
    background-color: black;
}

.container ul.toggle li:nth-of-type(2) {
    top: 0.5rem;
    background-color: black;
}

.container ul.toggle li:nth-of-type(3) {
    top: 1rem;
    background-color: black;    
}

.container ul.toggle.active li:nth-of-type(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.container ul.toggle.active li:nth-of-type(2) {
    left: 25%;
    opacity: 0;
}

.container ul.toggle.active li:nth-of-type(3) {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

/******Sidebar******/
.container .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    background: rgb(43,158, 237);
    width: 350px;
    height: 100vh;
    box-sizing: border-box;
    padding: 27px 20px;
    text-align: left;
    transition: .9s;
    transform: translateX(0px) translateY(0px);
    z-index: 10;
}

.container .sidebar.active {
    left: 0%;
}

.container .sidebar ul.menu li {
    list-style: none;
    opacity: 1;
    font-size: 24px;
    line-height: 29px;
}

.container .sidebar ul.menu li a {
    display: inline-block;
    position: relative;
    color: #fff;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    font-size: 30px;
}

.menu {
    padding-top: 50%;
}
.header {
    display: flex;
    flex-direction: column;
}
.bottom-header {
    text-align: center;
}

.header-navigation {
    flex-direction: row;
    text-align: center;
    vertical-align: middle;
    text-align: center;
    justify-content: left;
    align-items: center;
    padding-top: 1rem;
}
.navigation-items {
    color: black;
    text-decoration: none;
}
.navigation-items:hover {
    text-decoration: underline;
    cursor: pointer;
}
.main-img {
    text-align: center;
    margin-top: 2rem;
    position: relative;
}
.main-img img {
    width: 77%;
    max-height: 25rem;
    object-fit: cover;
}

.main-img {
    overflow: hidden;
}
.body-container {
    padding-left: 8rem;
    padding-right: 8rem;
}
.main-heading {
    margin-top: 1.5rem;
    text-align: center;
}
.main-heading span {

    font-size: 2.5rem;
    text-decoration: underline;
}
.down-arrow a{
    border: 0;
    background-color: rgb(43,158, 237);
    opacity: 0.6;
    border-radius: 10rem;
    font-size: 1.5rem;
    text-align: center;
;
    padding: 0.5rem 1rem 0.5rem 1rem;
    transition: ease-in-out 0.2s;
    text-decoration: none;
    color: black;
}
.down-arrow {
    text-align: center;
    margin-top: 1.25rem;
    transform: rotate(90deg);
    position: relative;
}
.down-arrow a:hover {
    opacity: 1;
}
.main-paragraph {
    margin-top: 2rem;
    text-align: center;
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

}
.main-paragraph span {
    font-family: "Gellix", sans-serif
}